<%- layout('layouts/boilerplate') %>
<h2>Register</h2>
<h4>Sign up now for a free account!</h4>
<form class='validated-form' action='/register' method='POST' novalidate>
    <div class="mb-3">
      <label for="email" class="form-label">Email ID:</label>
      <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">User Name:</label>
        <input type="text" class="form-control" id="username" name='username' aria-describedby="usernameHelp" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password: </label>
      <input type="password" class="form-control" id="password" name='password' required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up!</button>
  </form>