<%- layout('layouts/boilerplate') %>

<h1>Watchlist</h1>
<a href="/">Back</a>
<div class="row">
    <% movies.forEach(movie => { %>
        <div class="col-4">
            <div class="card mb-3">
                <img class='card-img-top' src="<%= movie.image %>" alt="">
                <h4 class='card-title'><%= movie.title %></h4> 
                <form action="">
                    <button formaction="/watchlist/<%= movie._id %>?_method=DELETE" formmethod="POST" class='btn btn-danger'>Remove</button>
                    <button class='btn btn-warning'>Add to Favorites</button>
                </form>
            </div>
        </div>
    <% }) %>
</div>
